[Unit]
Description=Passwd and Group FUSE Mount
After=local-fs.target

[Service]
Type=simple

# UPDATE THESE PATHS!
ExecStart=/home/asulin/minimal-samba/venv/bin/python /home/asulin/minimal-samba/passwd_fuse.py

ExecStop=/bin/fusermount -u /tmp/passwd-fuse

Restart=on-failure
RestartSec=5

User=root
Group=root

[Install]
WantedBy=multi-user.target